.dress-code {
  position: relative;
  background-color: var(--color-white);
  padding: 60px 20px 0px;
  text-align: center;
  
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: 
      url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23D4AF37' fill-opacity='0.03'%3E%3Cpath d='M20 20c0-5.5-4.5-10-10-10s-10 4.5-10 10 4.5 10 10 10 10-4.5 10-10zm10 0c0 5.5 4.5 10 10 10s10-4.5 10-10-4.5-10-10-10-10 4.5-10 10z'/%3E%3C/g%3E%3C/svg%3E");
    pointer-events: none;
  }
}

.wave-top {
  position: absolute;
  top: -60px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  z-index: 5;
}

.wave-top svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 60px;
  fill:  #c3dbff5c;
}

.dress-code h2 {
  font-family: var(--font-title);
  color: var(--color-black);
  font-size: 2.5rem;
  margin: 0 0 30px 0;
}

.dress-code-content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 600px;
  margin: 0 auto;
}

.attire-icons {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 20px;
}

.dress-icon,
.suit-icon {
  width: 60px;
  height: 60px;
  opacity: 0.8;
}

.formal-attire h3 {
  font-family: var(--font-title);
  color: var(--color-navy);
  font-size: 1.8rem;
  margin: 0;
  font-weight: 600;
}

.white-dress-notice p {
  font-family: var(--font-text);
  color: var(--color-black);
  font-size: 1.1rem;
  font-weight: 300;
  margin: 0;
  line-height: 1.6;
}